*
{
    color: #000;
}

select
{
    border: 2px inset #D4D0C8;
    border-bottom: 2px solid #EAEBEB;
    border-right: 2px solid #EAEBEB;
    background-color: #D4D0C8; /* Damn Opera */
}

#container {
    background: #A4D0A0;

    color: #000;

    border-top: 1px solid #FFF;
    border-bottom: 2px solid #FFF;
}

div.bar td.info span.warning
{
    background: #E4E0C8;
}

div.bar td.info span.critical
{
    background: #E4D0C8;
}

a, a:hover, a:visited
{
    color: #000;
}

div.bottom-line
{
    background: #808080;
}

#resize-line
{
    background: #D4D0C8;
}

#dPanel
{
/*    border-top: 1px solid #FFF; */
}

#dPanel textarea
{
    background: #D4D0C8;
}

ul.tabs li
{
    border-top: 1px solid #FFF;
    border-left: 1px solid #808080;
}

ul.tabs li.l
{
    border-left: 1px solid #fff;
}

ul.tabs li.r
{
    border-right: 1px solid #808080;
}

ul.tabs li.a div
{
    background: #D4D0C8;
}

ul.tabs li.a div div
{
    color: #D4D0C8;
}

#dTab
{
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
}
